[submodule "Iris_DataSet_Visualization"]
	path = Iris_DataSet_Visualization
	url = https://github.com/uxman001/Iris_DataSet_Visualization.git
[submodule "Stock_Price_Predictor"]
	path = Stock_Price_Predictor
	url = https://github.com/uxman001/Stock_Price_Predictor.git
[submodule "Heart_Disease_Prediction"]
	path = Heart_Disease_Prediction
	url = https://github.com/uxman001/Heart_Disease_Prediction.git
[submodule "House_Price_Prediction"]
	path = House_Price_Prediction
	url = https://github.com/uxman001/House_Price_Prediction.git
